.main_title {
    padding: 0.5em 0;
    font-size: 40px;
    font-weight: 700;
}

.main_text {
    max-width: 600px;
    font-size: 14px;
}

.login_button_wrapper {
    display: flex;
    justify-content: space-around;
    list-style: none;
    /* transform: translateY(25em); */
}

.register_button {
    padding: 0.3em;
    text-decoration: none;
    font-size: 2em;
    border: #000 solid ;
    border-radius: 5px;
    color: #000;
    font-weight: 500;
    transition: 200ms;
}

.register_button:hover {
    border-radius: 50px;
    color: #fff;
    background-color: #000;
}

.login_button {
    padding: 0.3em;
    text-decoration: none;
    font-size: 24px;
    border: #000 solid ;
    border-radius: 5px;
    color: #000;
    font-weight: 500;
    transition: 300ms;
}

.login_button:hover {
    border-radius: 50px;
    color: #fff;
    background-color: #000;
    /* border-color: #fff; */
}

.login_list {
    margin: 1em;
}

.main_login {
    text-align: center;

}

.main_image {
    width: 25em;
    display: block;
    transition: 200ms;
    margin-bottom: 2em;
}

.dim {
    filter: brightness(0.5);
}

.selected {
    transition: 200ms;
    transform: translate(0,-10px);
}

.background_image {
    left: auto;
    width: 100%;
    max-height: 425px;
    max-width: 760px;
    position:absolute;
    right: 0;
}

.slogan_container {
    /* height: max-content; */
    padding: 2em;
    max-width: 600px;
    z-index: 1;
    align-self: start;
}

.section_1 {
    background-color: rgb(79, 196, 255);
    height: 500px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
    position: relative;
}

@media screen and (min-width: 1220px) { 
    .main_title {
        padding: 0.5em 0;
        font-size: 48px;
        font-weight: 700;
    }
    
    .main_text {
        margin-bottom: 2em;
        font-size: 16px;
    }
    
    
    .slogan_container {
        width: 50em;
        height: max-content;
        padding: 2em;
        max-width: 800px;
    }
    
   
}