.main_title {
    padding: 0.5em 0;
    font-size: 64px;
    font-weight: 700;
}

.main_text {
    margin-bottom: 2em;
    font-size: 18px;
}

.login_button_wrapper {
    display: flex;
    justify-content: space-around;
    list-style: none;
    /* transform: translateY(25em); */
}

.register_button {
    padding: 0.3em;
    text-decoration: none;
    font-size: 2em;
    border: #000 solid ;
    border-radius: 5px;
    color: #000;
    font-weight: 500;
    transition: 200ms;
}

.register_button:hover {
    border-radius: 50px;
}

.login_button {
    padding: 0.3em;
    text-decoration: none;
    font-size: 24px;
    border: #000 solid ;
    border-radius: 5px;
    color: #000;
    font-weight: 500;
    transition: 200ms;
}

.login_button:hover {
    border-radius: 50px;
}

.login_list {
    margin: 1em;
}

.main_login {
    text-align: center;
}

.main_image {
    width: 25em;
    display: block;
    transition: 200ms;
    margin-bottom: 2em;
}

.dim {
    filter: brightness(0.5);
}

.selected {
    transition: 200ms;
    transform: translate(0,-10px);
}

.background_image {
    width: 100%;
    position: absolute;
    z-index: -1;
}

.slogan_container {
    width: 50em;
    height: max-content;
    transform: translate(10em,8em);
    margin-bottom: 30em;
    padding: 2em;

}