.profile_wrapper {
    margin: 2em;
}

.main_profile_title {
    font-size: 38px;
    font-family: 'geist';

}

.sub_title_profile{
    font-size: 28px;
    font-family: 'geist';
    margin-bottom: 2em;
}

.profile_info_container {
    border-bottom: 1px solid #e0e0e0;
    margin: 1em;
    width: 70%;
}

.user_info_type {
    font-family: 'geist';
    font-weight: 700;
}

.user_info_displayer {
    color: #666
}

.profile_image {
    width: 100px;
    height: 100px;
    margin: 1em;
    border-radius: 9999px;
    object-fit: cover;
}